  <div class="container">
    <div class="row">
      <%= form_with model: @user, local:true do |f| %>
      <h4>画像</h4>
      <%=f.file_field :image, accept: "image/*" %>
      <%= f.text_field :name %>
      <%= f.text_field :email %>
      <%= f.submit '投稿' %>
      <%end%>
    </div>
  </div>