<!---後で部分テンプレートにする-->
<header class="container-fluid bg-light w-100">
   <div class="row">
      <div class="header col-5">
         <%= link_to links_path do %>
         <%= image_tag 'pelinkcan.png' %>
         <% end %>
      </div>
      <div class="header col-1">
      </div>
   </div>
</header>
<!---ここまで-->
<main>
   <div class="profile_image" id="button">
      <%= attachment_image_tag @user, :image, size: "300x300", fallback: "no_image.jpg"%>
      <div class="btn" style="background-color:blue;"><%= link_to '画像を変更する',edit_user_path%></div>
   </div>
   <div class="user_information">
      <ul>
         <!---テーブルタグ使う--->
         <li class="name">名前</li>
         <li><%= current_user.name %></li>
         <li class="name">メールアドレス</li>
         <li><%= current_user.email %></li>
         <li class="name">パスワード</li>
         <li><%= link_to "パスワードの再設定を行う場合はこちらから",new_user_password_path %>
         <li>
      </ul>
   </div>

   <script>
      document.getElementById("button").addEventListener("mouseover", function () {
         document.querySelector(".btn").style.display = "block";

      });

      document.getElementById("button").addEventListener("mouseout", function () {
         document.querySelector(".btn").style.display = "none";
      });
   </script>
</main>