<link rel="stylesheet" href="/assets/new_form.scss"/>
<%= form_with model:@link, local:true do |f| %>
<ul>
  <li class="name"><%= f.label :name, 'タイトル' %></li>
  <li><%= f.text_field :title, class: "hoge", size: "60x10"%></li>
  <li class="name"><%= f.label :name, 'URL' %></li>
  <li><%= f.text_field :url, class: "hoge", size: "60x10" %></li>
  <li class="name"><%= f.label :name, 'メモ' %></li>
  <li><%= f.text_area :body, class: "hoge", size: "60x5" %></li>

  <!--ここまで-->
  <li>
    <%= f.fields_for :link_tag do |c| %>
        タグ<br>
        <%= c.select :tag_id, options_for_select(Tag.all.map{|t| [t.name,t.id]},{ :selected => 1 }), { include_hidden: false }, { class: 'tag_select', multiple: true }%>
    <%end%>
  </li>
  

  <li class="name"><%= f.submit "リンク作成" ,class:"btn btn-secondary"%></li>
</ul>
<% end %>
<%= form_with model:@tag, remote:true do |tag| %>
  タグ追加<br>
  <%= tag.text_field :name %>
  <%= tag.submit "タグ作成" ,class:"btn btn-secondary"%>
<%end%>