<header class="container-fluid bg-light w-100">
    <div class="row">
       <div class="header col-5"> 
        <%= link_to links_path do %>
         <%= image_tag 'pelinkcan.png' %>
        <% end %>
       </div>
       <div class="header col-7">
       </div>
    </div>  
</header>
<main>
   <div class="row main">
        <%= form_with model:@link, local:true do |f| %>
       <ul>
         <li class="name"><%= f.label :name, 'タイトル' %></li>
         <li><%= f.text_field :title, class: "hoge", size: "60x10"%></li>
         <li class="name"><%= f.label :name, 'URL' %></li>
         <li><%= f.text_field :url, class: "hoge", size: "60x10" %></li>
         <li class="name"><%= f.label :name, 'メモ' %></li>
         <li><%= f.text_area :body, class: "hoge", size: "60x5" %></li>
         <li class="name"><%= f.label :name, 'color' %></li>
         <li><%= f.color_field :color%></li>
         
　　　　　　
         </li> 
         <li class="name"><%= f.submit "リンク作成" ,class:"btn btn-secondary", type:"button"%></li>
       </ul>
         <% end %>
   </div>
</main>